/* 3. Preloader (cute pastel) */
#preloader{
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, #ffd3e2 0%, #a0e7e5 50%, #8ec5ff 100%);
  z-index: 9999999;
  display: block;
}

.spinner{
  position:absolute;
  left:50%;
  top:50%;
  width: 56px;
  height: 36px;
  text-align: center;
  font-size: 10px;
  margin-left:-28px;
  margin-top:-18px;
}

.spinner > div{
  background-color: #ffffff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
  border-radius: 4px;
  margin: 0 1px;
}

.spinner .rect2{ -webkit-animation-delay:-1.1s; animation-delay:-1.1s; }
.spinner .rect3{ -webkit-animation-delay:-1.0s; animation-delay:-1.0s; }
.spinner .rect4{ -webkit-animation-delay:-0.9s; animation-delay:-0.9s; }
.spinner .rect5{ -webkit-animation-delay:-0.8s; animation-delay:-0.8s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); }
  20% { transform: scaleY(1.0); -webkit-transform: scaleY(1.0); }
}
